{% extends "base.html" %}
{% block title %}
Lacrosse Positions
{% endblock %}
{% block content %}
<div class="attackers-header"> 
    <h1>Attackers</h1>
    <aside id="attacker">
        <image src="static/images/attacker.jpg" alt="Lacrosse Attackers" width="400" height="400"> 
        </image>
    </aside>
    <p>
        Lacrosse attackers are responsible for scoring goals. There are three attackers on each lacrosse team. 
        They stay on the offensive side of the field, receive the ball from the midfielders in transition, and move the ball into scoring position. 
    </p>
    <br>
    <p>
        Attackers must have superior skills with the lacrosse stick in shooting, passing, and protecting the ball from defenders. 
        Attackers use fakes, passes, plays and other moves to get off clean shots on goal. 
        They must work together to outwit and outplay the defenders and goalie.
    </p>
</div>
{% endblock %}