{% extends "base.html" %}
{% block title %}
Lacrosse Positions
{% endblock %}
{% block content %}
<div class="defenders-header"> 
    <h1>Defenders</h1>
    <aside id="defender">
        <image src="static/images/defender.jpg" alt="Lacrosse Defender" width="400" height="400"> 
        </image>
    </aside>
    <p> Lacrosse defenders protect the goal.
        It is their job, together with the goalie, to make sure the opponent does not score a goal. 
        Defenders often use a longer lacrosse stick to allow them to block or deflect passes and shots. 
    </p>
    <br>
    <p>
        They must try to stay between the attacker and the goal and prevent the attacker from getting off a clean shot on goal. 
        Working together and communication with other defenders is key in forming a good defense.
    </p>

</div>
{% endblock %}