{% extends "base.html" %}
{% block title %}
Lacrosse Positions
{% endblock %}
{% block content %}
<div class="midfielders-header"> 
    <h1>Midfielders</h1>
    <aside id="midfielder">
        <image src="static/images/midfielder.jpg" alt="Lacrosse Midfielder" width="400" height="400"> 
        </image>
    </aside>
    <p> The midfielders are allowed to play over the entire Lacrosse field. They play both offense and defense. 
        A good midfielder must have speed and endurance. One of the main tasks for midfielders is transition. 
    </p>
    <br>
    <p> 
        That is moving the ball from defense to offense quickly in order to create an advantage on offense. 
        Midfielders also are responsible in making sure the team doesn't get called for offsides when transitioning. 
        Midfielders are sometimes call "middies".
    </p> 
</div>  
{% endblock %}